.FeaturedProducts
{
    background-size: cover;
    background-position: center center;
    background-color: #ffffff;
    text-align: center;
    font-size: 13px;
    line-height: 1.6;
    font-weight: 400;
    letter-spacing: .03em;
    font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #777777;
    -webkit-text-size-adjust: none;
    padding: 70px 0;
    -webkit-font-smoothing: subpixel-antialiased;
}
.FeaturedProducts_container
{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.FeaturedProducts_container h2
{
    visibility: visible;
    animation-name: fadeScale;
    animation-duration: 1s;
    font-size: 26px;
    line-height: 1.18182;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: normal;
    color: #151515;
}
@keyframes fadeScale
{
    0% {
        opacity: 0;
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}
.CardContainer0
{
    display: block;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    position: relative;
    z-index: 1;
    margin-top: 40px;
}
.FeaturedProducts .CarouselContainer0
{
    margin: -30px;
    padding: 30px;
    position: relative;
    overflow: hidden;
    -webkit-transform: translate3d(0px, 0px, 0px);
}
.CarouselContainer0 > div{
    transform: translate3d(0px, 0px, 0px);
    transition: all 0s ease 0s;
    position: relative;
}
.CarouselContainer0 > div::after
{
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
 .CarouselContainer0 .slick-list
{
    padding: 0px !important;
}
/*
.CarouselContainer0 .slick-track
{
    margin: 0 !important;
    width: 100% !important;
} */
.cardDiv
{
    margin-right: 30px;
    min-height: 1px;
    -webkit-tap-highlight-color: transparent;
}
.CarouselContainer0 .box-info-modern
{
    position: relative;
    text-align: center;
    color: #151515;
}
.slideInUp
{
    visibility: visible;
    animation-delay: 0.1s;
    animation-name: slideInUp;
    animation-duration: 1s;
}
@keyframes slideInUp{
    0% {
        -webkit-transform: translate3d(0, 100%, 0);
        transform: translate3d(0, 100%, 0);
        visibility: visible;
    }
    
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

}
.CarouselContainer0 .owl-item .box-info-modern-figure {
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
}
.CarouselContainer0 .link-img {
    display: inline-block;
    overflow: hidden;
}
.CarouselContainer0 .link-img img {
    transition: all 0.25s ease-in-out;
    width: 370px;
    aspect-ratio: auto 370 / 276;
}
.CarouselContainer0 img {
    width: 370px;
    display: inline-block;
    max-width: 100%;
    height: auto;
}
.CarouselContainer0 img, svg {
    vertical-align: middle;
}
.CarouselContainer0 .link-img:hover img {
    transform: scale(1.05);
    opacity: .9;
}
.CarouselContainer0 .box-info-modern-title {
    margin-top: 16px;
    margin-bottom: 0;
}
.CarouselContainer0 .box-info-modern-title {
    font-weight: 600;
}
.CarouselContainer0 .box-info-modern-title a{
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 0;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    letter-spacing: normal;
    color: #151515;
}
.CarouselContainer0 .box-info-modern-link {
    margin-top: 23px;
    text-decoration: none;
}
.CarouselContainer0 .box-info-modern-link, .box-info-modern-link:focus, .box-info-modern-link:active {
    color: #ffd33b;
}
.CarouselContainer0 .box-info-modern-link {
    position: relative;
    display: inline-block;
    padding: 12px 22px;
    font-size: 14px;
    line-height: 1.2;
    font-weight: 600;
    letter-spacing: .05em;
    text-transform: uppercase;
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}
.box-info-modern-link::before {
    position: absolute;
    content: '';
    top: 50%;
    left: 50%;
    width: calc(100% - 44px);
    height: 80%;
    border: 2px solid transparent;
    border-bottom-color: inherit;
    transform: translate3d(-50%, -50%, 0);
}


@media (min-width: 576px)
{
    .FeaturedProducts_container
    {
        max-width: 540px;
    }
    
}
@media (min-width: 768px)
{
    .FeaturedProducts
    {
        padding: 80px 0;
        font-size: 15px;
    }
    .FeaturedProducts_container
    {
        max-width: 720px;
    }
    .FeaturedProducts_container h2
    {
        font-size: 35px;
    }
    .CardContainer0
    {
        margin-top: 40px;
    }
    h4{
        font-size: 20;
    }
}
@media (min-width: 992px)
{
    .FeaturedProducts
    {
        padding: 90px 0;
    }
    .FeaturedProducts_container
    {
        max-width: 960px;
    }
    .FeaturedProducts_container h2
    {
        font-size: 45px;
    }
    h4{
        font-size: 22;
    }
    
}
@media (min-width: 1200px)
{
    .FeaturedProducts
    {
        padding: 110px 0;
    }
    .FeaturedProducts_container
    {
        max-width: 1200px;
    }
    .FeaturedProducts_container h2
    {
        font-size: 55px;
    }
    .CardContainer0
    {
        margin-top: 50px;
    }
    h4{
        font-size: 24;
    }
}